body {
    background: #4545;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    color: cornsilk;
    background: #000000;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.856);
}

footer {
    text-align: center;
    font-style: italic;
}